.task-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

button {
  margin-left: 10px;

}

input[type="checkbox"] {
  margin-right: 10px;
}

select {
  margin-left: 10px;
}
.App {
  
  justify-content: center; 
  align-items: center; 
  margin-left: 160px;
}
